In [1]:
from src.clear_file import BaseClearDataFile
import pandas as pd

file = open('python.txt', 'r', encoding='utf-8')
base = BaseClearDataFile(file)

df_messages = pd.DataFrame(base.messages)
df_info_messages = pd.DataFrame(base.info_messages)

2023-03-14 13:39:58.097 | INFO     | src.clear_file:__read_file:58 - messages len: 14062

In [2]:
df_messages

,phone,message,date
0,Mateus Feu,Opa,2022-05-31 17:47:00
1,Mateus Feu,Satisfação,2022-05-31 17:48:00
2,@erickson.lds,opa,2022-05-31 17:48:00
3,@erickson.lds,calma ai que to organiando,2022-05-31 17:48:00
4,Mateus Feu,Tá ficando top,2022-05-31 17:53:00
...,...,...,...
14057,@erickson.lds,O streamlit faz isso,2023-03-10 11:21:00
14058,Luiz Cruz,Q q eh isso,2023-03-10 11:24:00
14059,Luiz Cruz,Aí sim,2023-03-10 11:25:00
14060,Luiz Cruz,Como q ele mapeia o que vc removeu do arquivo?,2023-03-10 11:25:00
14061,Luiz Cruz,Ele compara a versão antiga vs a nova?,2023-03-10 11:25:00

In [3]:
df_info_messages

                                              message                date
0   As mensagens e as chamadas são protegidas com ... 2022-05-31 17:46:00
1              Você criou o grupo "Py #criando grupo" 2022-05-31 17:46:00
2                     Você mudou a descrição do grupo 2022-05-31 17:51:00
3                        Você mudou a imagem do grupo 2022-05-31 17:52:00
4   Você mudou o nome do grupo de "Py #criando gru... 2022-05-31 17:53:00
..                                                ...                 ...
89                            ‎+55 11 97495-9463 saiu 2023-02-10 17:54:00
90  ‎+55 31 8424-1161 entrou usando o link de conv... 2023-02-12 01:44:00
91  ‎Melque entrou usando o link de convite deste ... 2023-02-17 19:51:00
92  ‎Luiz Cruz entrou usando o link de convite des... 2023-02-18 19:15:00
93                    Você mudou a descrição do grupo 2023-02-24 12:07:00

[94 rows x 2 columns]

In [4]:
df_messages["message"].value_counts()

<Arquivo de mídia oculto>                 1192
Mensagem apagada                           101
Sim                                         57
?                                           43
isso                                        32
                                          ...
iiii ala                                     1
olha que legal                               1
usa a extensão                               1
no chome                                     1
Ele compara a versão antiga vs a nova?       1
Name: message, Length: 11556, dtype: int64

In [5]:
df_messages["newdate"] = df_messages.apply(lambda x: x['date'].date(), axis=1)
# Agrupa as mensagens por data e conta a quantidade de mensagens
df_messages['newdate'] = pd.to_datetime(df_messages['newdate'])
# Cria um novo dataframe com a soma das mensagens por dia
df_soma = df_messages.groupby('newdate')['message'].count().reset_index()
df_soma

       newdate  message
0   2022-05-31       25
1   2022-06-01       19
2   2022-06-03        1
3   2022-06-05        2
4   2022-06-06        5
..         ...      ...
218 2023-03-06        1
219 2023-03-07       31
220 2023-03-08        6
221 2023-03-09        3
222 2023-03-10       47

[223 rows x 2 columns]

In [6]:
df_soma.count()

newdate    223
message    223
dtype: int64

In [7]:
df_soma.rename(columns={'newdate': 'Data', 'message': 'Quantidade de mensagens'}, inplace=True)
df_soma

          Data  Quantidade de mensagens
0   2022-05-31                       25
1   2022-06-01                       19
2   2022-06-03                        1
3   2022-06-05                        2
4   2022-06-06                        5
..         ...                      ...
218 2023-03-06                        1
219 2023-03-07                       31
220 2023-03-08                        6
221 2023-03-09                        3
222 2023-03-10                       47

[223 rows x 2 columns]

In [9]:
df_soma.sort_values(by='Quantidade de mensagens', ascending=False)

          Data  Quantidade de mensagens
52  2022-09-09                      382
127 2022-11-30                      375
39  2022-08-26                      356
49  2022-09-06                      333
106 2022-11-07                      323
..         ...                      ...
217 2023-03-04                        1
218 2023-03-06                        1
11  2022-06-18                        1
12  2022-06-21                        1
154 2022-12-29                        1

[223 rows x 2 columns]